table.table-bordered{
    border:1px solid #e0e0e0;
    margin-top:20px;
  }
table.table-bordered > thead > tr > th{
    border:1px solid #e0e0e0;
}
table.table-bordered > tbody > tr > td{
    border:1px solid #e0e0e0;
}